# Environment configuration
ENVIRONMENT=development

# Database Settings
DUCKDB_PATH=data/datamart.duckdb

# Data Generation Settings
MOCK_NUM_CUSTOMERS=5000
MOCK_NUM_PRODUCTS=200
MOCK_NUM_TRANSACTIONS=100000
